.jsCalendar-current {
  background-color: #ffffff;
}

.negative {
  background-color: #6600ee;
  border-radius: 18px;
  color: #FFF;
}

.positive {
  background-color: #ff88ee;
  border-radius: 18px;
  color: #FFF;
}
